# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Mariarosaria\Desktop\StudyMeIGES\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

C:\Users\User\IdeaProjects\StudyMeIGES\.idea\runConfigurations\Tomcat_8_5_38.xml
C:\Users\User\IdeaProjects\StudyMeIGES\src\main\java\model\DriverManagerConnectionPool.java
src/main/java/model/DriverManagerConnectionPool.java
.idea/runConfigurations/Tomcat_8_5_38.xml
runConfigurations\
DriverManagerConnectionPool.java